.image img{
    width: 750px;
 }
h2{
    color: darkgreen;
    display: block;
}

.general{
    
    width: 1000px;
    
   
   
}
.pics img{
    margin: 2px;
    border: solid black;
    border-radius: 50%;
    width: 60%;
    height: 140%;
    object-fit: cover;
    justify-content: space-between;
 
}
.team{
    display: flex;
}
footer{
   
    padding: 5px;
}


